@import "../../../styles/theme";

.button {
  &__button {
    max-width: 22rem;
    min-height: 3.5rem;
    flex-shrink: 0;
    border-radius: 5rem;
    border: none;
    padding: 0.5rem 7rem;
    background-color: $color_blue_17;
    color: $color_white_ff;
    transition: all 0.2s ease-in-out;

    &:hover {
      cursor: pointer;
      background-color: $color_blue_4d;
    }

    &:focus {
      outline: none;
    }

    &:disabled {
      background-color: $color_blue_21;
      cursor: not-allowed;
    }
  }
}
