@import "../../../styles/theme";

.input-container {
  text-align: left;

  &--full {
    width: 100%;
  }

  &--hr {
    width: 100%;
  }

  &--disabled {
    opacity: 0.5;
  }

  &--sm {
    @media screen and (min-width: $screen-md) {
      max-width: 33.5rem;
    }
  }

  &--md {
    @media screen and (min-width: $screen-md) {
      max-width: 47.2rem;
    }
  }

  &--lg {
    @media screen and (min-width: $screen-lg) {
      max-width: 61rem;
    }
  }

  &__password-icon {
    cursor: pointer;
    margin-left: 0.8rem;
    width: 2.4rem;
    height: 2.4rem;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 0.8rem;
    background: $color_blue_21;
    transition: all 0.3s ease-in-out;

    &:hover {
      background: $color_blue_17;
    }

    &.active {
      background: $color_blue_17;
    }
  }

  &__label {
    display: block;
    font-weight: $font_bold;
    margin-bottom: 0.1rem;
    color: $color_blue_17;
  }

  .input-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: 1px solid $color_blue_21;
    border-radius: 0.8rem;
    overflow: hidden;
    padding-right: 0.8rem;

    .input {
      width: 100%;
      border: 0;
      color: $color_black_00;
      font-family: $font_family;
      font-size: $font_size_1_6;
      line-height: $line_height_1_5;
      padding: 1.2rem 1.2rem 1.2rem 0.8rem;
      background: transparent;

      &:hover,
      &:focus {
        outline: none;
      }

      &::placeholder {
        font-size: $font_size_1_4;
        font-weight: 500;
        color: $color_black_00;
      }
    }

    &:hover:not(&.error):has(input:enabled),
    &:not(&.error):has(input:focus-within:enabled) {
      border: 1px solid $color_blue_17;
    }

    &.error {
      border: 0.1rem solid $color_red_ff1;
    }

    & .error {
      padding: 0;
    }
  }

  &--border-radius {
    & .input-wrapper {
      border-radius: 1rem;

      & .input {
        padding: 1.2rem 2rem;
      }
    }
  }
}
