@import '../../../styles/theme';

.grid {
  display: grid;
  grid-gap: 0.8rem;
  grid-template-columns: repeat(4, 1fr);

  @media screen and (min-width: $screen-md) {
    grid-gap: 1.2rem;
    grid-template-columns: repeat(8, 1fr);
  }

  @media screen and (min-width: $screen-lg) {
    grid-gap: 1.6rem;
    grid-template-columns: repeat(12, 1fr);
  }
}
