@import "../../styles/theme";

.product-block {
  &__photo {
    max-width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 1rem;
  }

  &__heading {
    color: $color_blue_17;
    margin-top: 2rem;
  }

  &__text {
    font-weight: $font_medium;
    margin-top: 1rem;
  }

  &__title {
    font-size: 6rem;
    margin-bottom: 1rem;
    margin-top: 3rem;
  }

  &__footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 2rem;
    gap: 2rem;
  }
}
