@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap");

$screen-sm: 375px;
$screen-md: 768px;
$screen-lg: 1366px;
$screen-xl: 1600px;

$font-family: "Roboto", sans-serif;

$font_light: 100;
$font_regular: 300;
$font_normal: 400;
$font_medium: 500;
$font_semi_bold: 600;
$font_bold: 700;
$font_heavy: 800;

$font_size_2_2: 2.2rem;
$font_size_1_7: 1.7rem;
$font_size_2_8: 2.8rem;
$font_size_3_4: 3.4rem;

$line_height_2_2: 2.2rem;
$line_height_2_8: 2.8rem;
$line_height_3_4: 3.4rem;
$line_height_4_1: 4.1rem;

$themes: (
  light: (),
  dark: (),
);
$color_blue_09: #0984e3;
$color_blue_74: #74b9ff;
$color_white_ff: #ffffff;
$color_black_00: #000000;
$color_gray_ae: #aeaeae;
$color_gray_41_trans: rgba(41, 41, 41, 0.75);
$color_orange_ff: #ffad40;
$color_orange_ff_trans: rgba(255, 173, 64, 0.8);

$color_error: #ff7675;
$color_transparent: rgba(0, 0, 0, 0);

$shadow_1: 0px 0px 4px 0px rgba(255, 255, 255, 0.25);
