@import '../../../styles/theme';

.form-input {
  max-width: 34.4rem;
  border-radius: 0.5rem;
  background-color: $color_white_ff;
  box-shadow: $shadow_1;
  margin: 0 auto;

  &__input {
    width: 100%;
    padding: 1rem 1.1rem;
    border-color: $color_white_ff;

    &:focus {
      border-color: $color_white_ff;
    }

    &:active {
      border-color: $color_white_ff;
    }
  }
}
