@import "../../../styles/theme";

.textarea-container {
  background: transparent;
  text-align: left;
  width: 100%;
  min-width: 30rem;

  &--sm {
    @media screen and (min-width: $screen-md) {
      max-width: 33.5rem;
    }
  }

  &--md {
    @media screen and (min-width: $screen-md) {
      max-width: 47.2rem;
    }
  }

  &--lg {
    @media screen and (min-width: $screen-lg) {
      max-width: 61rem;
    }
  }

  &__label {
    display: block;
    font-weight: $font_bold;
    margin-bottom: 0.1rem;
    color: $color_blue_17;
  }

  &__text-area {
    -webkit-appearance: none;
    background: transparent;

    appearance: none;
    border: 1px solid $color_blue_21;
    border-radius: 2.9rem;
    box-shadow: $shadow_2;
    color: $color_black_00;
    font-family: $font_family;
    font-size: $font_size_1_6;
    line-height: $line_height_1_5;
    padding: 1.2rem 2rem;
    height: 12rem;
    resize: none;
    width: calc(100% - 2 * 2rem);

    &:disabled {
      opacity: 0.6;
    }

    &::placeholder {
      font-size: $font_size_1_4;
      font-weight: 500;
      color: $color_black_00;
    }

    &:enabled:hover,
    &:enabled:focus {
      outline: none;
      border: 1px solid $color_blue_17;
    }

    &.error {
      border: 0.1rem solid $color_red_ff1;
    }
  }
}
